body {
  background-image: linear-gradient(to right, grey 0%, #d0d0d0 50%, grey 100%);
}

#title {
  width: 20%;
  margin: 10px 45%;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
}

#left-arrow {
  display: flex;
  justify-content: center;
}

#right-arrow {
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
}

.arrow {
  background-color: white;
  cursor: pointer;
  width: 70px;
}

.arrow:hover {
  opacity: 0.3;
}

.arrow-image {
  width: 50px;
}

#title-description-div {
  position: relative;
  top: -123px;
  order: 1;
  background-color: #0000008c;
  color: white;
  height: 100px;
  padding: 10px;
}

#great-title {
  font-size: 28px;
  margin: 0%;
  font-style: inherit;
}

#great-description {
  font-style: oblique;
}

#main-picture {
  height: 700px;
}

#greatPicture {
  order: 2;
  height: 700px;
}

#slider {
  display: flex;
  justify-content: center;
}

.icon img:hover {
  opacity: 0.3;
  width: 100%;
  padding: 0;
}

.icon {
  width: 100px;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 2px;
}

.icon img {
  width: 80px;
  background-color: white;
  padding: 5px;
}
