* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #2f3060;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
}

button {
  margin: 25px;
  padding: 10px 35px;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 100;
}

button[title='blue'] {
  background-color: #405e9e;
  box-shadow: 0px -2px 0px 0px rgba(38, 57, 109, 1) inset, 0px 2px 0px 0px rgba(85, 119, 191, 0.5) inset,
    0px 5px 5px 0px rgba(38, 39, 78, 0.5);
}

button[title='green'] {
  background-color: #17a14e;
  box-shadow: 0px -2px 0px 0px rgba(22, 106, 64, 1) inset, 0px 2px 0px 0px rgba(85, 211, 139, 0.5) inset,
    0px 5px 5px 0px rgba(38, 39, 78, 0.5);
}

button[title='red'] {
  background-color: #d13f2f;
  box-shadow: 0px -2px 0px 0px rgba(134, 43, 47, 1) inset, 0px 2px 0px 0px rgba(220, 100, 83, 0.5) inset,
    0px 5px 5px 0px rgba(38, 39, 78, 0.5);
}

button[title='light'] {
  background-color: #01b0ee;
  box-shadow: 0px -2px 0px 0px rgba(12, 106, 160, 1) inset, 0px 2px 0px 0px rgba(37, 196, 248, 0.5) inset,
    0px 5px 5px 0px rgba(38, 39, 78, 0.5);
}

button[title='black'] {
  background-color: #252728;
  box-shadow: 0px -2px 0px 0px rgba(30, 31, 46, 1) inset, 0px 2px 0px 0px rgba(55, 57, 57, 0.5) inset,
    0px 5px 5px 0px rgba(38, 39, 78, 0.5);
}

button[title='white'] {
  background-color: #f0f2f9;
  color: grey;
  box-shadow: 0px -2px 0px 0px rgba(153, 159, 179, 1) inset;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
  box-shadow: none;
}
