body {
  margin: 0px;
}

#header {
  background-image: url('./assets/b8a856f2b60df7f004b31a74ffcf1c71.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 0px 50px 0px 20px;
}

h1 {
  margin: 0;
  align-self: center;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

#main-content {
  display: flex;
  flex-direction: row;
}

#main {
  flex-grow: 4;
  background-color: #eeeeee;
}

#sidebar {
  background-color: #eeeeee;
  flex-grow: 1;
  max-width: 220px;
}

#submit {
  border: none;
  background-color: #4aa3df;
  width: 100%;
  color: white;
  padding: 5px 30px;
  font-size: 10px;
  margin-top: 10px;
}

#submit a {
  color: white;
  text-decoration: none;
}

#sidebar-header {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  margin-top: 5px;
  font-size: 10px;
  padding-left: 10px;
}

#rspace {
  color: #2980b9;
  margin-left: 5px;
  font-weight: 800;
}

#sidebar-content {
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px;
}

#sidebar-content h2 {
  margin-left: 20px;
  font-size: 10px;
}

ul {
  font-size: 8px;
  padding: 10px;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  background-color: white;
  margin: 10px 5px 2px 5px;
}

.votes {
  font-size: 10px;
  margin: 0px;
  padding: 3px;
  margin-right: 10px;
  margin-left: 1px;
}

#post-button {
  all: unset;
}

.post-button {
  all: unset;
  font-size: 5px;
  padding: 5px;
  margin: 5px;
  color: #4aa3d9;
}

.post-button:hover {
  color: #1f4157;
}

.upvote:active {
  content: url('./assets/upvoted.png');
}

.downvote:active {
  content: url('./assets/downvoted.png');
}

.post a {
  color: #4aa3d9;
  margin: 5px;
}

.post a:active {
  color: #1f4157;
}

.post h2 {
  margin: 5px;
}
